<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>


    <div class="container-fluid" id="detailPost">
        <div class="row">
            <div class="col-2" style="width: 10%;"></div>
            <div class="col-10 mt-1">

                <div class="row ">
                    <!-- content of post -->
                    <div class="col-7 rim fixed" style="height: 900px; width: 900px;">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="../images/test.jpg" class="d-block w-100 h-100" alt="...">
                            </div>
                        </div>
                    </div>


                    <!-- comments of post-->
                    <div class="col-5" style="margin-left: 57%;">

                        <!-- header of post -->
                        <div class="row rim-vertical fixed w-35 bg-black">
                            <div class="col-1 me-3 mt-3">
                                <img src="../images/test.jpg" class="avartar">
                            </div>
                            <div class="col">
                                <p class="username-of-post mt-4">phuongdu</p>
                            </div>
                            <div class="row mb-3">
                                <p class="card-text">Hoom nay troi rat dep !</p>
                            </div>
                        </div>

                        <!-- ---------------------comment of users----------------------- -->
                        <div class="commentOfUsers">
                            <!-- -------------------------------------------- -->
                            <!-- comments of users -->
                            <div class="color-white">
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2
                                        Oke
                                        hom
                                        nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke
                                        hom
                                        nay
                                        la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>

                                <!-- -------------------------------------------------- -->
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2
                                        Oke
                                        hom
                                        nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke
                                        hom
                                        nay
                                        la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>

                                <!-- -------------------------------------------------- -->
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->
                            </div>

                            <!-- comments of users -->
                            <div class="color-white">
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2
                                        Oke
                                        hom
                                        nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke
                                        hom
                                        nay
                                        la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>

                                <!-- -------------------------------------------------- -->
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2
                                        Oke
                                        hom
                                        nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke
                                        hom
                                        nay
                                        la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>

                                <!-- -------------------------------------------------- -->
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->
                            </div>

                            <!-- comments of users -->
                            <div class="color-white">
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2
                                        Oke
                                        hom
                                        nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke
                                        hom
                                        nay
                                        la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>

                                <!-- -------------------------------------------------- -->
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2
                                        Oke
                                        hom
                                        nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke hom nay la thu 2 Oke
                                        hom
                                        nay
                                        la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>

                                <!-- -------------------------------------------------- -->
                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->

                                <div class="hstack gap-3 mt-3 mb-4">
                                    <div class="hstack gap-3" style="height: fit-content;">
                                        <img src="../images/test.jpg" class="avartar">
                                        <div class="me-2 commentOfUser">Phuongdu</div>
                                    </div>

                                    <div class="comment">Oke hom nay la thu 2
                                    </div>

                                    <div class="createdAt mb-2">2 hour ago</div>
                                </div>
                                <!-- -------------------------------------------------- -->
                            </div>
                        </div>
                        <!-- -----------------my comment------------------- -->
                        <!-- form send comment -->
                        <form action="" method="post">
                            <div class="hstack gap-3 fixed b-5 w-30 p-2 rim">
                                <i class="bi bi-emoji-laughing p-2 color-white" style="font-size: 25px;"></i>
                                <input type="text" class="form-control p-2 color-black" placeholder="Thêm bình luận">
                                <div class="p-2 ms-auto"><button type="submit"
                                        class="btn btn-primary-ouline border">Send</button></div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>